.header {
    height: 10vh;
    background: #ffffff;
    font-size: 0;
    width: 100vw;
    box-shadow: 0 1vh 1vh rgb(220, 220, 220);
}





.register-button {
    display: inline-block;
    margin-top: 2vh;
    margin-left: 5vh; 
    border-radius: 24px;
    border-color: white;
    font-size: 18px;
    border: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.upload-button {
    display: inline-block;
    margin-top: 2vh;
    margin-left: 5vh; 
    border-radius: 24px;
    border-color: rgba(0, 200, 200, 0.848);
    color: rgba(0, 200, 200, 0.848);
    font-size: 18px;
}




.search-icon{
    position: absolute;
    left: 370px;
    top: 36px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}




.search {
    margin-left: 10vh;
    border-radius: 25px;
    height: 5vh;
    width: 80vh;
    margin-top: 2vh;
    border: 2px solid transparent;
    transition: border 0.4s ease;
    background-color: rgb(230, 230, 230);
}

.search:hover {
    border: 2px solid black;
}

.search:focus {
    border: 2px solid black;
    outline: none;
}




.logo{
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    margin-left: 50vh;
}



 
.register-button:hover{
    background-color: rgb(206, 206, 206);
}
.register-button:active{
    background-color: rgb(255, 255, 255);
}

.upload-button:hover{
    background-color: rgb(206, 206, 206);
}
.upload-button:active{
    background-color: rgb(255, 255, 255);
}



















.video-body  {
    position: absolute;
    top: 21%;
    left: 37%;
    width: 130vh;
    height: 75vh;
    box-shadow: 0 -0.9vh 1vh rgb(220, 220, 220); 
}




 .pause-logo{
    position: absolute;
    top: 90%;
    left: 38%;
    width: 4vh;
    height: 4vh;
}




.sec-back{
    position: absolute;
    top: 90.4%;
    left: 44%;
    width: 3.5vh;
    height: 3.5vh;
}




.sec-forward{
    position: absolute;
    top: 90.2%;
    left: 47.3%;
    width: 3.7vh;
    height: 3.8vh;
}




.play-speed{
    position: absolute;
    top: 90.4%;
    left: 87%;
    width: 3.5vh;
    height: 3.5vh;
}




.setting{
    position: absolute;
    top: 90.4%;
    left: 92%;
    width: 3.5vh;
    height: 3.5vh;
}




.full-screen{
    position: absolute;
    top: 90.4%;
    left: 96%;
    width: 3.5vh;
    height: 3.5vh;
}